<div class="img-cont">
    <img class="img-logo-gr" src="assets/img/logo.png" />
    <img class="img-sekurit" src="assets/img/sekurit.png" />
    <img class="back-opc"    src="assets/img/f2/backopc.svg"  [@change_backgr]="set_anim_comodin()" [ngStyle]="{'top':preguntas.comodines[1].y, 'left':preguntas.comodines[1].x, 'visibility':display_comodin_img() }"/>
    <img class="back-opc"    src="assets/img/f2/backopc2.svg" [@change_backgr]="set_anim_option()"  [ngStyle]="{'top':opcion_select.y, 'left':opcion_select.x, 'visibility':display_optbk_img()}"/>
</div>

<div class="comodines-cont" *ngIf="pregunta.tipo != 3">
  <div class="comodin" *ngIf="preguntas.comodines[0].e" (click)="comodin(0)"><img src="assets/img/btn/50-50.png" /></div>
  <div class="comodin" *ngIf="preguntas.comodines[1].e" (click)="comodin(1)"><img src="assets/img/btn/lg.png" /></div>
  <div class="comodin" *ngIf="preguntas.comodines[2].e" (click)="comodin(2)"><img src="assets/img/btn/m1.png" /></div>
</div>

<div class="btn-nav-cont" *ngIf="pregunta.tipo == 3">
  <div class="comodin"><img (click)="goToRespuesta()" src="assets/img/p1/s1.png" /></div>
</div>

<div class="input-cont" *ngIf="pregunta.tipo != 3">
  <div class="app-input-inner">
    <div class="app-input">
      <div class="app-input-inner">
        <img src="assets/img/p1/t1.png"/>
        <div class="app-input-title" [ngStyle]="{'font-size':getTextSizeTit(pregunta.titulo), 'top':getTopTit(pregunta.titulo)}" [innerHTML]="pregunta.titulo"></div>
      </div>
    </div>

    <div class="app-input">
      <div class="app-input-inner">
        <img src="assets/img/p1/o1.png"/>
        <div class="app-input-ps" style="left:150px"  [@options_opc]="opc_anim_std[0]" (click)="setRespuesta(0)"><div class="app-input-ps-l">A:</div><div class="app-input-ps-o">
          <div [ngStyle]="{'font-size':getTextSizeOp(pregunta.opciones[0].t), 'bottom':getBottomOp(pregunta.opciones[0].t)}">{{pregunta.opciones[0].t}}</div></div></div>

        <div class="app-input-ps" style="left:1070px" [@options_opc]="opc_anim_std[1]" (click)="setRespuesta(1)"><div class="app-input-ps-l">B:</div><div class="app-input-ps-o">
          <div [ngStyle]="{'font-size':getTextSizeOp(pregunta.opciones[1].t), 'bottom':getBottomOp(pregunta.opciones[1].t)}">{{pregunta.opciones[1].t}}</div></div></div>
      </div>
    </div>

    <div class="app-input" *ngIf="!preguntas.comodines[0].a">
      <div class="app-input-inner">
        <img src="assets/img/p1/o1.png"/>
        <div class="app-input-ps" style="left:150px"  [@options_opc]="opc_anim_std[2]" (click)="setRespuesta(2)"><div class="app-input-ps-l">C:</div><div class="app-input-ps-o">
          <div [ngStyle]="{'font-size':getTextSizeOp(pregunta.opciones[2].t), 'bottom':getBottomOp(pregunta.opciones[2].t)}">{{pregunta.opciones[2].t}}</div></div></div>

        <div class="app-input-ps" style="left:1070px" [@options_opc]="opc_anim_std[3]" (click)="setRespuesta(3)"><div class="app-input-ps-l">D:</div><div class="app-input-ps-o">
          <div [ngStyle]="{'font-size':getTextSizeOp(pregunta.opciones[3].t), 'bottom':getBottomOp(pregunta.opciones[3].t)}">{{pregunta.opciones[3].t}}</div></div></div>
      </div>
    </div>

    <div class="num-pregunta">{{pregunta_actual}}</div>
  </div>
</div>

<div class="input-cont" *ngIf="pregunta.tipo == 3">
  <div class="app-input-inner">
    <div class="app-input">
      <div class="app-input-inner">
        <div style="text-align:center; width:1920px;"><h2>¡GANÁ UN COMODÍN EXTRA SEKURIT!</h2></div>
      </div>
    </div>

    <div class="app-input">
      <div class="app-input-inner">
        <img src="assets/img/f2/i1.png"/>
      </div>
    </div>

    <div class="app-input">
      <div class="app-input-inner">
        <img src="assets/img/f2/i2.png"/>
        <input style="top:18px; left: 287px; width: 580px;" type="text" [(ngModel)]="pregunta.k1">
        <input style="top:18px; left: 1246px; width: 540px;" type="text" [(ngModel)]="pregunta.k2">
      </div>
    </div>
  </div>
</div>
