<div class="img-cont" (click)="reset()">
    <img class="img-acierto" src="assets/img/fondo-ok.png" />
    <img class="img-logo-gr" src="assets/img/logo.png" />
    <img class="img-sekurit" src="assets/img/sekurit.png" />
</div>

<div class="input-cont">
  <div class="app-input-inner">
    <div class="app-input">
      <div class="app-input-inner">
        <div style="text-align:center; width:1920px;"><h2 style="font-size: 72px;">FELICIDADES, ¡GANASTE!</h2></div>
      </div>
    </div>

    <div class="app-input">
      <div class="app-input-inner">
        <div style="text-align:center; width:1920px;"><h2 style="font-size: 45px;">RETIRÁ TU PREMIO</h2></div>
      </div>
    </div>
  </div>
</div>
