<div class="img-cont" (click)="goToPregunta()">
    <img class="img-logo-gr" src="assets/img/logo.png" />
    <img class="img-sekurit" src="assets/img/sekurit.png" />
</div>

<div class="input-cont">
  <div class="app-input-inner">
    <div class="app-input">
      <div class="app-input-inner">
        <div style="text-align:center; width:1920px;"><h2>¡GANÁ UN COMODÍN EXTRA SEKURIT!</h2></div>
      </div>
    </div>

    <div class="app-input">
      <div class="app-input-inner">
        <img src="assets/img/f2/i1.png"/>
      </div>
    </div>

    <div class="app-input">
      <div class="app-input-inner">
        <img src="assets/img/f2/i2.png"/>
        <input style="top:18px; left: 287px; width: 580px;" type="text" name="" value="">
        <input style="top:18px; left: 1246px; width: 540px;" type="text" name="" value="">
      </div>
    </div>
  </div>
</div>
