<div class="img-cont">
    <img *ngIf="respuesta.acertada" class="img-acierto" src="assets/img/fondo-ok.png" />
    <img class="img-logo-gr" src="assets/img/logo.png" />
    <img class="img-sekurit" src="assets/img/sekurit.png" />
</div>

<div class="resp-cont" *ngIf="respuesta.tipo!=3">
  <div class="app-input-inner">
    <div class="app-input">
      <div class="app-input-inner">
        <div *ngIf="respuesta.acertada" class="app-resp-title">Tu respuesta es ¡correcta!</div>
        <div *ngIf="!respuesta.acertada" class="app-resp-title">Respuesta incorrecta</div>
      </div>
    </div>

    <div class="app-input">
      <div class="app-desc-cont">
        <div class="app-desc-text" [innerHTML]="respuesta.explicacion"></div>
      </div>
    </div>

  </div>
</div>

<div class="btn-nav-cont">
  <div class="comodin"><img (click)="goToPregunta()" src="assets/img/p1/s1.png" /></div>
</div>

<div class="resp-cont" *ngIf="respuesta.tipo==3">
  <div class="app-input-inner">
    <div class="app-input">
      <div class="app-input-inner">
        <div *ngIf="respuesta.acertada"  style="text-align:center;margin-top: 51px; width:1920px;"><h2>¡FELICITACIONES!</h2></div>
        <div *ngIf="!respuesta.acertada" style="text-align:center;margin-top: 51px; width:1920px;"><h2>¡UPS! TU AUTO NO TIENE</h2><h2> CRISTALES SEKURIT</h2></div>
      </div>
    </div>

    <div class="app-input">
      <div *ngIf="respuesta.acertada"  class="app-input-inner"> <img src="assets/img/f2/i3.png"/></div>
      <div *ngIf="!respuesta.acertada" class="app-input-inner"> <img src="assets/img/f2/i5.png"/></div>
    </div>

    <div class="app-input">
      <div *ngIf="respuesta.acertada" class="app-input-inner"><img src="assets/img/f2/i4.png"/> </div>
    </div>
  </div>
</div>
