<div class="img-cont" (click)="goToMarcaModelo()">
    <img class="img-logo-gr" src="assets/img/logo.png" />
    <img class="img-sekurit" src="assets/img/sekurit.png" />
</div>

<div class="input-cont">
  <div class="app-input-inner">
    <div class="app-input">
      <div class="app-input-inner">
        <img src="assets/img/f1/i1.png"/>
        <input style="left: 657px; width: 1048px;" type="text" name="" value="">
      </div>
    </div>

    <div class="app-input">
      <div class="app-input-inner">
        <img src="assets/img/f1/i2.png"/>
        <input style="top:18px; left: 441px; width: 430px;" type="text" name="" value="">
        <input style="top:18px; left: 1271px; width: 510px;" type="text" name="" value="">
      </div>
    </div>

    <div class="app-input">
      <div class="app-input-inner">
        <img src="assets/img/f1/i3.png"/>
        <input style="top:18px; left: 757px; width: 557px;" type="text" name="" value="">
      </div>
    </div>
  </div>
</div>
