/* You can add global styles to this file, and also import other style files */
body{ margin: 0px; }

.main-div{
  position: relative;
  width:1920px; height:1080px;
  background-image: url("/assets/img/fondo.jpg");    background-size: cover;
}

.img-logo    { position: absolute; left: 369px; top:0px; }
.img-logo-gr { position: absolute; left: 471px; top:-106px; height: auto; width: 900px; }  
.img-sekurit { position: absolute; left: 130px; top:0px; }
.img-cont { width:1920px; height:1080px; }
